@import "tailwindcss";

@layer base {
  body, html {
    background-color: #030303;
    color: #e7e5e4;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    height: 100dvh;
    user-select: none;
  }
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
